[user]
    email = {{ .email.perso }}
{{ if eq .hostname .hostnames.perso.helios }}
    signingkey = {{ .key.perso.helios }}
{{ else if eq .hostname .hostnames.work.m1 }}
    signingkey = {{ .key.perso.m1 }}
{{ end }}
