{{/* boolean feature tags */}}
{{- $personal := true -}}
{{- "" -}}

{{/* work around unreliable hostname on darwin */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $computerName := output "scutil" "--get" "ComputerName" | trim -}}
{{-   $hostname = $computerName -}}
{{- end -}}

{{- if eq $hostname "COMP_C02G70X8ML87" "COMP_MWCXH06XC7" -}}
{{-   $personal = false -}}
{{- end -}}

{{- if eq .chezmoi.os "darwin" -}}
[pinentry]
    command = "pinentry-mac"
{{ end }}
[data]
    hostname = {{ $hostname | quote }}
    personal = {{ $personal }}
    work = {{ not $personal }}

[data.onepassword]
    perso = "USMX6XPNVFFS5MRNF4T5UBRTTM"

[data.email]
    perso = "florent.clarret@gmail.com"
    work = "florent.clarret@datadoghq.com"

[data.hostnames.work]
    intel = "COMP_C02G70X8ML87"
    m1 = "COMP_MWCXH06XC7"

[data.hostnames.perso]
    latitude = "latitude"
    helios = "helios64"
    mac-mini = "mac-mini"

[data.key.work]
    primary = "725D3843DBD883ED"

[data.key.perso]
    m1 = "8B94B4D5D79286B1"
    helios = "54A1CE47CEB4C83F"
