{
  "branchPrefix": "florentclarret.graphite/",
  "branchDate": false,
  "tips": true,
  "authToken": "{{ onepasswordRead (print "op://private/github/graphite-token") $.onepassword.perso }}",
  "fpAuthToken": "{{ onepasswordRead (print "op://private/github/freephite-token") $.onepassword.perso }}"
}
