#!/bin/bash

echo "> Running $(basename "$0") "

set -eufo pipefail

{{ $brews := list
     "bat"
     "defaultbrowser"
     "fzf"
     "gh"
     "git"
     "glances"
     "gnupg"
     "grep"
     "jq"
     "mc"
     "pinentry-mac"
     "pre-commit"
     "pv"
     "screen"
     "ssh-copy-id"
     "tmux"
     "trash"
     "tree"
     "wget"
     "youtube-dl" -}}

{{ $casks := list
     "1password/tap/1password-cli"
     "finicky"
     "vlc" -}}

{{ if not .personal -}}
{{   $brews = concat $brews (list
      "expect"
      "hatch"
      "kind"
      "pip-tools"
      "ykman") -}}
{{ end -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
