#!/bin/bash

echo "> Running $(basename "$0") "

set -eufo pipefail

{{ $brews := list
     "bat"
     "defaultbrowser"
     "fzf"
     "gh"
     "git"
     "glances"
     "gnupg"
     "grep"
     "hmarr/tap/codeowners"
     "jq"
     "lua"
     "mc"
     "most"
     "node"
     "pinentry-mac"
     "pipx"
     "pre-commit"
     "pv"
     "sapling"
     "screen"
     "ssh-copy-id"
     "tmux"
     "trash"
     "tree"
     "watch"
     "withgraphite/tap/graphite"
     "wget"
     "youtube-dl" -}}

{{ $casks := list
     "1password/tap/1password-cli"
     "battery"
     "finicky"
     "raycast"
     "vlc" -}}

{{ if .work -}}
{{   $brews = concat $brews (list
      "clang-format"
      "expect"
      "hatch"
      "kind"
      "pip-tools"
      "pulumi/tap/pulumi"
      "shellcheck"
      "ykman") -}}
{{   $casks = concat $casks (list
      "aws-vault"
      "notunes") -}}
{{ end -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
