#!/bin/bash

echo "> Running $(basename "$0") "

set -eufo pipefail

{{ $brews := list
     "bat"
     "defaultbrowser"
     "gh"
     "git"
     "glances"
     "grep"
     "jq"
     "mc"
     "pinentry-mac"
     "pre-commit"
     "pv"
     "screen"
     "ssh-copy-id"
     "tmux"
     "tree"
     "wget" -}}
{{ $casks := list -}}

{{ if not .personal -}}
{{   $brews = concat $brews (list
      "hatch"
      "kind"
      "pip-tools") -}}
{{ end -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
