{{/* boolean feature tags */}}
{{- $personal := true -}}
{{- "" -}}

{{/* work around unreliable hostname on darwin */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $computerName := output "scutil" "--get" "ComputerName" | trim -}}
{{-   $hostname = $computerName -}}
{{- end -}}

{{- if eq $hostname "COMP_C02G70X8ML87" "COMP_MWCXH06XC7" -}}
{{-   $personal = false -}}
{{- end -}}

{{- if eq .chezmoi.os "darwin" -}}
[pinentry]
    command = "pinentry-mac"
{{ end }}
[data]
    hostname = {{ $hostname | quote }}
    personal = {{ $personal }}

[data.onepassword]
    perso = "USMX6XPNVFFS5MRNF4T5UBRTTM"

[data.email]
    perso = "florent.clarret@gmail.com"
    work = "florent.clarret@datadoghq.com"

[data.hostnames.work]
    intel = "COMP_C02G70X8ML87"
    m1 = "COMP_MWCXH06XC7"

[data.hostnames.perso]
    latitude = "latitude"
    helios = "helios64"
    mac-mini = "mac-mini"

[data.key.work]
    primary = "725D3843DBD883ED"

[data.key.perso]
    primary = "8B94B4D5D79286B1"

[data.public_key.work]
    m1 = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDASGhq8xI60e+j+rNsAu3c/HIWMuxmEAFPiRW/cu8g2qAQ9kVvDVQTWnL5HjL8dCufHKDO524RfgmQntcpPjKmeAcJY5+9v3Xnb2kgBchgv0ppJ7Ti7clBUqVloLnHPbC8vyfwHRRi72lBDbR74Tgb24iiGxxsbLdGke2+PNMQesAvdbzC3xhXi6Pqg9izg5xpMJhuIhXA06sT024AirrDGE/f+rYwbl75h/NE6z6dMwIjhScIPGGW5VZtokO61UN9zkjyfnt9zi/ibLff3D3HCe9GMDdU9QPaXhQZo3Oa4OkYzOb12BXyLJd8pJUll1galyrZHYiEV4MeLt3L3gwMNFxVPWgADyieejAuxpnYwKxhecHLYSU3b1Lx7rseTBBfkfSiW9PjaOMBEJUw2xZ/VqQkegNFo07Mue4JsBjN5w+K9sS1ag5XztKcqPG1ejexpPwVVtQ7jQHLwK4r18ifkfdwNb/mqZ+XfkIMvwtnrD5CfZ2qPSYsIaurmt4rgZ8iDf20qtEthJNPJ62kw0WlAi8ScI7SSTKosvb9z0yxabHsEGgEbrmnfoWGaf4Z78rWrUTU/O/oLCnVKPHRzViZn57AbZz5B6c5T8pzTMJqFvhO/ma7S00+Q8YTU2664znqJGQ1J3Q2tf7TN7HSYCDenQKOGmgcK9Jnd42xqgENLw== florent.clarret@COMP-MWCXH06XC7"
    intel = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFc7L4rR7YrA0bT9w15CH+ca4LmFvBtKyX9DSB9sqEP0 florent.clarret@datadoghq.com"

[data.public_key.perso]
    latitude = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC3b43jraL3iUNXG1UTAfiOzJpK5ELMp6mr96NsQGfBYp7OtjRMB5imQYONjK9EHWrQ/HppHQwNdKu7RZ3qy2mkqnAEe6YGDRKo2B30OCJwPAKVYioPygj0UZ7u20UgIVMkk0WLHXQvOhRC0hUkUZbpo+oFMFNadffXmMEhg9d5OB/yP/ySkMDGCpJY47ia/p8iZCu1bhnS43rPE0DE2RomdOyzFTBpgdTTCmVVwDUbLrP4gHjP93ZncGRilJgR1oXxgEA/o4nDU2ItvuYZxVLoe/JxtZpDtbh7fAuCgCowxih/DOPgK1swfsSZEMsi1imkggHYnEYQ9/+jmOkJeHef florent.clarret@gmail.com"
    helios = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEzNywQNx8WXye82LWSqw6Uy/bZdpr/mqp3E0AiF+bqW florent.clarret@gmail.com"
    lightning = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQComMT5FnuF+nJhj3o+1RUumat9wBb4QIevg5uyjE+vxZ8B1SP4/MAb5Z6WX8m0QkS4LAKFicwAJoEAx9EOZeDWWopQs+9KPgw9zLWZ50ou2cEaeW8l7+qNng/QAdPupjM87t3gYXmpcAMTzJnDj23O9LQI0DsHUi50hg056VMZs4on4MLLpOEQnF6BOlgwXwgO7O6tMqAZGIAV3X+GlbdqQLG1JCPj54Fy9qvyUUMNKGhjp+/PRws5y4nnQG+0/7M4u/MsDxrTXYFH7ofVWqxd4hd7hD7eYOu1R8FkFMZBu4J1VwSdJc2UnKYKiIHP2aJIKLz5G3fSYCOOIRxg9zHvPWYsChRXah8Fn33mitMk8dsibsV7nbkdOmSHmArZqLmNVkOt0c6Bzfwjnd6CUtc4mq27CPaJZLdTlbHVaQmUVpmIbimK6XLr9ywr+kW0JsmkVET+Kiscl5uVxdaLqN9AA/BF0FRzGYlfOzaB7kSjLRAgbWfl4u7OlqToHvYAe5u5QlKY2LQ45XFSD5sr9gf43OFIRVjcT+yi6UvULzvrsPF7fA2zbTaUGtp2GhzIDlB/Nq/mNJ4O1+dPRe760lUQtfFV8Yf6iITyVUrbvsfm3jZcfqH911l79AODbHDYO8QbxdyUxssiVXTBjRZh3Jcs0/BTRzSfd3akyNgKNM0cWw== florentclarret@lightning"
    macmini = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCVGZ0e8KRAduziLijgbN/k7aLyvLlEAlh813kJlSYn/aQiInUxNam2NZDoGWZdLLqJ+LTJq6mIHVQvmgUk6EjSQxjhNJQuklJLZDs3xChZTCXdFqI555x6VWTyKJLNB9IWaiCVN2PwMyBVhHxCWdy5tGBfvx5SQF648cJpZP7JIF9w9zgeVzfAfnFOmme+qsBrtYXGIGYr7NiyT2L4ajOIfYFj3LxmTvDA4D9Y3OWIQ8152MZYyEagkEgM5LzYq9EHprT4wSW+vCYSp9QSUHDqkuPi5ExldORSBA5uiB3IaHsn5vujQtyX54QLriOBfT1463RHZNxUHv6XzD7DzIJmMcm/C8EHXmBs7xTJ9SIn9mdYQNQQ1q46KLmKI9CK5XzWhkg6dDYnbnwEOYrIX8ZkdsVuhzXPuuwDsy7Jk6NsDRJ/xW+Zvvj5204WUh8gLPGy+YiuXOv3541mnwHMnZgTsPmIF+btYwgeQxQSiEaB/BTFEMduCmZPIecwsfhXnn8Me153n5SmQaPDKWTN1c2ijjv7jSxkOHsmseEym/s+CyMJ4fkXAwyrDL9wG84TJvMuAq1u6lEsz7/IhLWAbpgK85jl20ERFpfOFdW/bx1r6hc20g/zdkGnI8iwmtLa1JVckekLEwOx6H7XazoURqbiIKLvVWKNUO1zxT0z/eR52Q== florentclarret@mac-mini"
