HashKnownHosts yes

Include config.d/home
Include config.d/external

Host *                  # apply to all hosts
# have the ssh command auto-add on first use
    AddKeysToAgent yes
{{- if eq .chezmoi.os "darwin" }}
# make --apple-use-keychain and --apple-load-keychain the default
    UseKeychain yes
{{- end }}
{{- if eq .hostname .hostnames.work.m1 .hostnames.perso.latitude }}
    IdentityFile ~/.ssh/id_rsa
{{- else }}
    IdentityFile ~/.ssh/id_ed25519
{{- end }}

{{- if .work }}
# BEGIN ANSIBLE MANAGED BLOCK
Host *
# IPv4 only for speed
AddressFamily inet
Compression yes
ControlMaster auto
ControlPath /tmp/ssh_mux_%h_%p_%r
ControlPersist 10m
# send a keep-alive after 5s of inactivity
ServerAliveInterval 5
ServerAliveCountMax 1
ConnectTimeout 10
# END ANSIBLE MANAGED BLOCK
{{- end }}
