#!/usr/bin/env zsh

alias gitconfig='vim $HOME/.gitconfig'

export GITHUB_USER="FlorentClarret"
export GITLAB_USER="florent.clarret"

{{- if .work }}
export DD_GITHUB_USER="FlorentClarret"
export DD_GITHUB_TOKEN="{{ onepasswordRead "op://datadog/github/token" .onepassword.perso }}"

export DD_GITLAB_USER="florent.clarret"
export DD_GITLAB_TOKEN="{{ onepasswordRead "op://datadog/gitlab/token" .onepassword.perso }}"
export DD_RELEASE_GITLAB_TOKEN="{{ onepasswordRead "op://datadog/gitlab/release-token" .onepassword.perso }}"
{{- end }}
