{{- $hosts := list "latitude" "helios" "router" "mac-mini" "pro-intel" "pro-m1" "server" "dropbear" -}}
{{- range ($hosts | sortAlpha | uniq) -}}
Host {{ . }}
    HostName {{ onepasswordRead  (print "op://network/" . "/url") $.onepassword.perso }}
    User {{ onepasswordRead (print "op://network/" . "/username") $.onepassword.perso }}
    Port {{ onepasswordRead (print "op://network/" . "/port") $.onepassword.perso }}

{{ end -}}
