{{- $hosts := list "vps" "bipbip" "coyote" "margoulin" -}}
{{- range ($hosts | sortAlpha | uniq) -}}
Host {{ . }}
    HostName {{ onepasswordRead  (print "op://network/" . "/url") }}
    User {{ onepasswordRead (print "op://network/" . "/username") }}
    Port {{ onepasswordRead (print "op://network/" . "/port") }}

{{ end -}}

Host github.com
    User git

Host gitlab.com
    User git
